<Html>
    <head>

        <title>
            
            To Do App
            
        </title>
        <link rel="stylesheet" href="/css/mainscreen.css">
    </head>
<body>
	<div class="container" >
		<h2>TODO LIST</h2>
        
        <div >
            <form>
                <input type="text" name="name" placeholder="Enter Name" required>
                <input type="date" name="date" placeholder="Date of completion" required>               
                <button type="submit">Add</button>
            </form>
        </div>    

        
	</div>

</body>
</Html>